body {
    Background-color: #f75590;
}
@font-face {
    font-family: myFont;
    src: url("./Fonts/cat_paw/Cat paw.ttf"
    );
}
h1 {
    font-family: myFont; 
    font-weight: lighter;
}
html{
    color-scheme: dark;
    font-family: system-ui;
}
.carousel {
    list-style: none;
    margin: 0;
    padding: 0;
    
    display: grid;
    gap: 2rem;
    grid-auto-flow: column;
    grid-auto-columns: 10%;

    overflow-y: auto;
    scroll-snap-type: y mandatory;

    >li {
        scroll-snap-align: center;
    }
}